@model FindTruckFormModel

<div class="row">
    <div class="col-sm-8 offset-lg-4 col-lg-4 offset-xl-4 col-xl-4">
        <form asp-action="FindTruck" method="post">
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label asp-for="TruckPlate" class="form-label-add-edit">Truck plate: </label>
                        <input asp-for="TruckPlate" class="form-control" aria-required="true" />
                        <span asp-validation-for="TruckPlate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Find" />
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-area="Admin" asp-controller="Home" asp-action="AdminHomeIndex" class="btn btn-primary mt-3">Back to Admin area page</a>
                }
            </div>
        </form>
    </div>
</div>
