@model CompanyEditFormModel
@{
    ViewBag.Title = "Edit company details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_CompanyFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
