@model TruckEditFormModel
@{
    ViewBag.Title = "Edit truck details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-controller="Admintruck" asp-action="EditTruck" method="post">
    <div class="col-sm-12 offset-lg-4 col-lg-4 offset-xl-3 col-xl-4">
        <div class="form-group">
            <label asp-for="TruckPlate">Company VAT</label>
            <input asp-for="TruckPlate" class="form-control" disabled>
            <input type="hidden" asp-for="TruckPlate" />
        </div>
    </div>

    <div class="form-group">
        <partial name="_TruckFormPartial" model="@Model" />
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
