@model FindTruckFormModel

@{
    ViewBag.Title = "Enter valid truck by plate";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form asp-action="TruckReport" method="post">
    <partial name="_FindTruckPartial" model="@Model" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
