@model TruckMonthReportViewModel

@{
    ViewBag.Title = $"Truck {@Model.PlateNumber} report last month";
}

<h6 class="text-center">@ViewBag.Title</h6>
<hr />

<partial name="_TruckPeriodReport" model="@Model" />



