
@model TruckMonthReportViewModel

@{
    ViewBag.Title = $"Truck {@Model.PlateNumber} report for current month";
}

<h6 class="text-center">@ViewBag.Title</h6>
<hr />

<partial name="_TruckPeriodReport" model="@Model" />


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <a class="btn btn-primary" asp-controller="Reports" asp-action="TruckReport">Return to Truck Report</a>
        </div>
    </div>
</div>