@{
    ViewBag.Title = "Spedition area";
}
<h4 class="text-center">@ViewBag.Title</h4>
<div class="mt-4 p-5 bg-light text-center">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <a asp-area="Spedition" asp-controller="SellOrder" asp-action="Create"
                       class="btn btn-primary btn-lg">Create order and send link to client</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>



