@model CompanyEditFormModel
@{
    ViewBag.Title = $"Edit details for company with VAT: {Model.CompanyVat}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-controller="AdminCompany" asp-action="EditCompany" method="post">
    <div class="col-sm-12 offset-lg-4 col-lg-4 offset-xl-3 col-xl-4">
        <div class="form-group">
            <label asp-for="CompanyVat">Company VAT</label>
            <input asp-for="CompanyVat" class="form-control" disabled>
            <input type="hidden" asp-for="CompanyVat" />
        </div>
    </div>

    <div class="form-group">
        <partial name="_CompanyFormPartial" model="@Model" />
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
