@model FindTruckFormModel

@{
    ViewBag.Title = "Find truck by plate";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<partial name="_FindTruckPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
